<%- include('./partials/header', {title: 'About Page'}) %>
    <body>
        <h1>About Page</h1>
        <a href="/login">Login</a> | <a href="/register">Register</a>
<%- include('./partials/footer') %>
