<%- include('./partials/header', {title: 'Home'}) %>
    <body>
        <h1>Welcome to My Website</h1>
        <a href="/login">Login</a> | <a href="/register">Register</a>
<%- include('./partials/footer') %>
